.register .row,
.login .row {
  /* background-color: #a758a2b9; */
  background-color: #5890a7;
  border-radius: 30px;
  box-shadow: 5px 5px 5px;
}
.login .row {
  background-color: #dd39399a;
}
.login .img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-image: url("https://images.pexels.com/photos/7430733/pexels-photo-7430733.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}
.register img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.register h1,
.login h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  font-weight: 1000;
}

.inp {
  height: 40px;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: 5px 5px 15px -6px #000000;
}

.body {
  height: 910px;
  background-color: rgb(248, 249, 250);
}

.btn1 {
  height: 40px;
  width: 30%;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px -6px #000000;
  font-family: "Dancing Script", cursive;
}

.btn1:hover {
  background-color: aliceblue;
  font-family: "Dancing Script", cursive;
}
.lastLine {
  font-family: serif;
  font-size: 20px;
  background-color: rgb(248, 249, 250);
}
